<app-header></app-header>

<ion-content>
    <ion-refresher slot="fixed" color='light' (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      
    <div *ngIf="user">
        <div class=" profile-picture" [ngStyle]="{'background-image': 'url(' + user.profileImage + ')'}">
        </div>

        <div class="ion-margin ion-text-center">
            <ion-text color="light">
                <h4>{{user.username}}</h4>
            </ion-text>
            
            <ion-button color="secondary" expand="block">Edit Profile</ion-button>
              

        </div>


        <div class="ion-margin reviews">
            <ion-text color="medium"><h5>Your reviews</h5></ion-text>
         
        </div>
        

    </div>


    <div *ngIf="!user">
        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-thumbnail style="width: 6rem; height: 6rem; border-radius: 25px; margin:auto;">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
                <br />
                <ion-thumbnail style="width: 60%; border-radius: 25px; margin:auto;">
                    <ion-skeleton-text animated></ion-skeleton-text>
                  </ion-thumbnail>
              </ion-col>
            </ion-row>
          </ion-grid>
        <br/>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-thumbnail style="width: 6.7rem; height: 9.5rem; border-radius: 25px">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <ion-thumbnail style="width: 6.7rem; height: 9.5rem; border-radius: 25px">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <ion-thumbnail style="width: 6.7rem; height: 9.5rem; border-radius: 25px">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-thumbnail>
              </ion-col>
            </ion-row>
          </ion-grid>
          
    </div>

</ion-content>
