<ion-header [translucent]="true">
 <ion-toolbar slot="fixed" class="ion-text-center" color="primary">
   <ion-buttons slot="start">
     <ion-back-button defaultHref="/"></ion-back-button>
   </ion-buttons>
 </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >

<div *ngIf="movie">
  <div class="container" [ngStyle]="{'background-image': 'url(' + movie.background + ')'}">
  <ion-img src="{{movie.background}}"></ion-img>

  <ion-text >
    <h4>
      <a href="{{movie.trailer}}">
      <ion-icon color="light" name="play-circle-outline"></ion-icon>
      </a>
    </h4>
  </ion-text>

  <ion-text color="light">
    <h5>{{movie.title}}</h5>
  </ion-text>

  <ion-text color="medium">
    <h6>{{movie.genres}}</h6>
  </ion-text>

  </div>


<ion-grid>
  <ion-row>
    <ion-col class="ion-margin-horizontal ion-margin-top">
      <app-movie-thumbnail [movie]="movie" [clickable]="false"></app-movie-thumbnail>
    </ion-col>
    <ion-col >
      <div class="rating-container">
        <ion-text color="light"> 
          <h4>Rating</h4>
          <div class="rating">8.7</div>

        </ion-text>  
       </div>
       <div class="director-container">
        <ion-text color="light">

          <h4>Director</h4>
          <p>{{movie.director}}</p>
        </ion-text>

      </div>


    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col class="ion-margin">
      <div class="plot-container">
        <ion-text color="light">
          <h4>Plot</h4>
          <p>{{movie.overview}}</p>
        </ion-text>
      </div>
    </ion-col>
  </ion-row>

</ion-grid>
</div>


<div *ngIf="!movie">
 
</div>


</ion-content>


