<ion-header [translucent]="true" class="ion-no-border">
 
  <ion-toolbar class="ion-text-center" color="primary">

    <ion-title color="light"><h2>Moviestore<span class="color-primary">.</span> </h2></ion-title>
 
  </ion-toolbar>
  
  
</ion-header>

<ion-content [fullscreen]="true">

<div class="img-container ion-margin-horizontal">
  <ion-text>
  <h5>Spider-Man: No Way Home</h5>
</ion-text>
</div>


<div class="ion-margin">
  <ion-text color="light">Genres</ion-text>
</div>


<swiper
    [slidesPerView]="3"
    [spaceBetween]="10"
    class="mySwiper ion-margin"
  >
 
 <ng-template swiperSlide  class="genre-container" >
   <div class="genre" [routerLink]="['/genres', 'drama']">
    <ion-text color="light">Drama</ion-text>
  </div>
 </ng-template>

 <ng-template swiperSlide  class="genre-container">
  <div class="genre"  [routerLink]="['/genres', 'action']">
   <ion-text color="light">Action</ion-text>
 </div>
</ng-template>
<ng-template swiperSlide  class="genre-container">
  <div class="genre"  [routerLink]="['/genres', 'adventure']">
   <ion-text color="light">Adventure</ion-text>
 </div>
</ng-template>
<ng-template swiperSlide  class="genre-container">
  <div class="genre"  [routerLink]="['/genres', 'horror']">
   <ion-text color="light">Horror</ion-text>
 </div>
</ng-template>
<ng-template swiperSlide  class="genre-container">
  <div class="genre"  [routerLink]="['/genres', 'sci-fi']">
   <ion-text color="light">Sci-Fi</ion-text>
 </div>
</ng-template>


</swiper>


<div class="ion-margin d-flex ion-margin-horizontal">
  <ion-text color="light">Popular Movies</ion-text>
  <div><ion-icon color="secondary" class='ion-margin-horizontal' name="chevron-forward-outline"></ion-icon></div>
</div>

<swiper
    [slidesPerView]="3"
    [spaceBetween]="5"
    class="mySwiper ion-margin"
  >
 
    
    <ng-template swiperSlide *ngFor='let movie of movies | slice:0:6; let i=index ' >
 
      <app-movie-thumbnail [movie]="movie" [clickable]="true"></app-movie-thumbnail>

    </ng-template>  
  

  </swiper>

 

</ion-content>
