<ion-header [translucent]="true" class="ion-no-border">
 
  <ion-toolbar class="ion-text-center" color="primary">

    <ion-title color="light"><h2>Moviestore<span class="color-primary">.</span> </h2></ion-title>
 
  </ion-toolbar>
  
  
</ion-header>

<ion-content [fullscreen]="true">

<div class="img-container ion-margin-horizontal">
  <ion-text>
  <h5>The Batman</h5>
</ion-text>
</div>

<div class="ion-margin d-flex ion-margin-horizontal">
  <ion-text color="light">Peliculas Populares</ion-text>
  <div><ion-icon color="secondary" class='ion-margin-horizontal' name="chevron-forward-outline"></ion-icon></div>
</div>

<swiper
    [slidesPerView]="3"
    [spaceBetween]="30"
    class="mySwiper ion-margin"
  >
 
    
    <ng-template swiperSlide *ngFor='let movie of movies' >
 
      <app-movie-thumbnail [movie]="movie" [clickable]="true"></app-movie-thumbnail>

    </ng-template>  
  

  </swiper>

 

</ion-content>
