<app-header></app-header>

<ion-content >

  <div class="ion-margin ion-padding">
  <ion-text color="light" class="ion-text-center">
    <h1>Welcome Back!</h1>
    <p>Log in to access the best movie database available!</p>
  </ion-text>

  <form>
    <ion-input color="light" type="email" class="ion-padding" placeholder="Email"></ion-input>
    <ion-input color="light" type="password" class="ion-padding" placeholder="Password"></ion-input>
    <ion-button color="secondary" expand="block" type="submit">Sign in</ion-button>
  </form>

  <ion-text color="medium" class="ion-text-center">
    <p>Not a member? <ion-text color="secondary"> Register Now</ion-text></p> 
  </ion-text>

</div>
</ion-content>
