<app-header></app-header>

<ion-content >

  <div class="ion-margin ion-padding">
  <ion-text color="light" class="ion-text-center">
    <h1>Welcome Back!</h1>
    <p>Log in to access the best movie database available!</p>
  </ion-text>

  <ion-input color="light" type="email" placeholder="Email"></ion-input>
  <ion-input color="light" type="password" placeholder="Password"></ion-input>

  <ion-button color="secondary" expand="block">Sign in</ion-button>

  <ion-text color="medium" class="ion-text-center">
    <p>Not a member? <ion-text color="secondary"> Register Now</ion-text></p> 
  </ion-text>

</div>
</ion-content>
