<ion-header [translucent]="true" class="ion-no-border">
 
  <ion-toolbar class="ion-text-center" color="primary">

    <ion-title color="light"><h2>Moviestore<ion-text color="secondary">.</ion-text> </h2></ion-title>
 
  </ion-toolbar>
  
  
</ion-header>

<ion-content>
  <div class="ion-margin">
  <ion-text color="light" ><h4>{{genre}}</h4></ion-text>
    <br />
  <div >
    <ion-row>

    <div *ngFor="let movie of moviesBySelectedGenre" >
      
        <ion-col [routerLink]="['/movie-details', movie.id]" class="ion-text-center poster-container">
         <ion-text color="light" ><img src="{{movie.background}}" /></ion-text> 
        </ion-col>
      

    </div>
  </ion-row>

  </div>
</div>

</ion-content>
