.container{
    margin: 10px
}
.color-secondary{
    color: var(--ion-color-secondary)
}
.review-card{
    padding: 0% 5%;
    background: rgba( 29, 31, 36, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.review-header{
    display: flex;
    justify-content: space-between;
}

.review-header .review-by p{
    line-height: 0px;
    margin-top:0px;
}
