<app-header></app-header>

<ion-content>
    <div class="content ion-margin ion-padding">
        <ion-text color="light" class="ion-text-center">
            <h1>Write a review</h1>
          </ion-text>


          <form>
            <ion-textarea clearOnEdit="true" placeholder="Review"></ion-textarea>

            
            <ion-input color="light" type="number" class="ion-padding" min="1" max="10" placeholder="Score" ></ion-input>

            <ion-button color="secondary" expand="block" type="submit">Post Review</ion-button>
          </form>

    </div>
</ion-content>
