ion-input, ion-textarea{
    --background: var(--ion-color-primary-tint);
    border-radius: 6px;
    margin: 1rem 0 ;
    box-sizing: border-box;
    padding-left: 10px;
    color: var(--ion-color-light)
}

